
@{
    ViewBag.Title = "添加新闻";
}

<h2>添加新闻</h2>
<br />
<form action="~/Home/SaveNews">
    <table class="table">
        <tr>
            <td><span class="pull-right">标题：</span></td>
            <td><input name="news_title" type="text" /></td>
        </tr>
        <tr>
            <td><span class="pull-right">内容：</span></td>
            <td><textarea name="contect" rows="4" cols="60"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-primary">保存</button>
                <button type="reset" class="btn btn-warning">取消</button>
            </td>
        </tr>


    </table>

</form>